<div class="col-lg-4 col-md-6 col-sm-6">
  <%= link_to movie_path(movie) do %>
    <div class="product__item">
      <% if movie.image.attached? %>
        <div class="anime__details__pic" style="background-image: url(<%= url_for movie.image %>);">
          <div class="comment"><i class="fa fa-comments"></i></div>
          <div class="view"><i class="fa fa-eye"></i></div>
        </div>
      <% else %>
        <div class="anime__details__pic" style="background-image: url(<%= movie.thumbnail %>);">
        </div>
      <% end %>
      <div class="product__item__text">
        <h5><%= link_to movie.title, movie_path(movie) %> </h5>
      </div>
    </div>
  <% end %>
</div>
