<div class="col-lg-4 col-md-6 col-sm-6">
  <div class="product__item">
    <div class="product__item__pic">
      <%= link_to image_tag("thor.jpg", alt: "Rails logo")%>
    </div>
    <div class="product__item__text">
      <h5><%= link_to movie.title, "#" %> </h5>
    </div>
  </div>
</div>
