@font-face {
  font-family: 'Mulish';
  src: url(asset-path('fonts/Mulish-Regular.ttf')) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url(asset-path('fonts/Oswald-Regular.ttf')) format('truetype');
    font-weight: normal;
  font-style: normal;
}
